html {
	background-color: #F6F6F6;
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#services ul {
	-webkit-margin-start: -11px;
}

img {
	border-style: none;
}

p, li {
    -webkit-margin-before: 0px;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div {
  display:inline-block;
}

a, body {
	color: #FFFFFF;
}

form {
	margin: 0px;
}

body, input, li span {
	font-family: 'Istok Web', sans-serif;;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1px;
	line-height: 24px;
	text-align: justify;
	text-justify: inter-word;
}

body {
	width: 720px;
	margin: 36px auto 0px;
	z-index: 1;
}

h2 {
	opacity: .5;
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 12px;
	padding-bottom: 18px;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

#about, #communicate, #greeting {
	width: 432;
  padding: 0 144px;
}

#greeting {
	background-color: white;
	color: #595959;
}

#communicate {
	font-size: 14px;
	padding: 72px auto auto;
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	letter-spacing: -6;
	font-size: 89px;
	font-weight: 800;
	line-height: normal;
	display: flex;
	flex-flow; column wrap;
	justify-content: center;

}

#communicate, #solid {
	background-color: #37A8C0;
}

#gradient, #solid {
	position: absolute;
	margin-left: -144px;
	width: 720px;
}

#gradient {
	height: 520px;
	z-index: -2;
	background: -webkit-linear-gradient(#42DC84, #37A8C0);
	background: -o-linear-gradient(#42DC84, #37A8C0);
	background: -moz-linear-gradient(#42DC84, #37A8C0);
	background: linear-gradient(#42DC84, #37A8C0);
}

#solid {
	height: 100%;
	z-index: -3;
}

#work {
	margin: 0 0 0 -216px;
	-webkit-box-shadow: 15px 15px 0px -5px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 15px 15px 0px -5px rgba(0, 0, 0, 0.10);
	box-shadow: 15px 15px 0px -5px rgba(0, 0, 0, 0.10);
}

/*#hello {

}*/

#caption {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-between;
	padding: 60px 0 0;
}

#count {
	/*padding: 72px 0 0 0;*/
}

#description {
	padding: 0 0 132px;
	width: 300px;
}

#intro {
	margin: 30px 0 0;
	width: 100%;
}

#more, #services {
	margin: 30px 0 0;
	width: 50%;
	float: left;
}

#contact {
	margin: 30px 0 0;
}

#contact p {

}

#credit {
	font-size: 10;
	font-weight: 400;
}

#newsletter {
	margin: 30px 0 36px;
}

#mailchimp {
	clear: left;
	width: 450px;
	margin-left: -18px;
}

#subscribe {
	float: right;
}

#mc-subscribe {

}

.button {
	width: 126px;
	border: 1px solid #3C3C3C;
	padding: 12px 0px 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
	font-weight: 700;
	color: white;
	border: 2px solid white;
}

.button:hover {

}

.button:active {
	color:none;
}

#mc-email {

}


.email {
	text-indent: 18px;
	width: 306px;
	height: 48px;
	border: none;
	font-size: 14px;
	background-color: #FFFFFF;
}


footer {
	color: #CCCCCC;
	/*letter-spacing: 1;*/
	/*font-weight: 700;*/
	/*font-size: 14px;*/
	/*line-height: 24px;*/
	text-align: center;
	padding: 72px 0 72px;
}




@media screen and (max-width:414px) {

	body {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		just

	}

	a, body {
		color: white;
	}

	h1 {

	}


	#about, #communicate {
		width: 80%;
		padding: 10%;
	  margin: auto;
	}

	#about {
		background: none;
	}

	#communicate {
		background: none;
	}

	#communicate a {
		color: #FFFFFF;
	}

	#contact {
		margin: 0 0 108px;
	}

	/*#hello {

	}*/

	#more, #services {
		float: right;
		width: 100%;
		margin-bottom: 72px;
	}

	#services {
		margin-bottom: 180px;
	}

	#intro {
		margin-bottom: 24px;
	}

	#newsletter {
		width: 100%;
		margin-bottom: 0px;
	}

	footer {
		color: white;
	}

	#mailchimp {
		width: 100%;
	}

	.email {
		width: 100%;
		margin: 0 0 30px;
		background-color: #F6F6F6;
		width: calc(100% + 18px);
	}

	#subscribe {
		float: left;
	}

	.button {
		width: 104px;
	}
}
