html {
	background-color: #F6F6F6;
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

img {
	border-style: none;
}

p, li {
    -webkit-margin-before: 0px;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div {
  display:inline-block;
}

a, body {
	color: #FFFFFF;
}

form {
	margin: 0px;
}

body, input, li span {
	font-family: 'Istok Web', sans-serif;;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1px;
	line-height: 24px;
	text-align: justify;
	text-justify: inter-word;
}

body {
	width: 720px;
	margin: 36px auto 0px;
	z-index: 1;
}

.subheader {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	position: relative;
	padding-bottom: 18px;
	margin-left: -36px;
}

.subheader img {
	opacity: .6;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	letter-spacing: -6;
	font-size: 89px;
	font-weight: 800;
	line-height: normal;
	display: flex;
	flex-flow; column wrap;
	justify-content: center;

}

h2, h3 {
	opacity: .5;
	font-weight: 800;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 12px;
	margin: 0;
}

.subheader h2 {
	position: absolute;
	left: 36px;
	padding-top: 3px;
}

h3 {
	opacity: 1;
}


input {
	-webkit-appearance: none;
	border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

#about, #communicate, #greeting {
	width: 432;
  padding: 0 144px;
}

#about {
	padding-bottom: 142px;
}

#greeting {
	background-color: white;
	color: #595959;
}

#communicate {
	font-size: 14px;
	padding-bottom: 132px;
}

#communicate, #solid {
	background-color: #37A8C0;
}

#gradient, #solid {
	position: absolute;
	margin-left: -144px;
	width: 720px;
}

#gradient {
	height: 520px;
	z-index: -2;
	background: -webkit-linear-gradient(#42DC84, #37A8C0);
	background: -o-linear-gradient(#42DC84, #37A8C0);
	background: -moz-linear-gradient(#42DC84, #37A8C0);
	background: linear-gradient(#42DC84, #37A8C0);
}

#solid {
	height: 1200px;
	z-index: -3;
}

#work {
	width: 792px;
	height: 528px;
	margin: 0 0 0 -180px;
	-webkit-box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.08);
}

#work img {
	width: 100%;
	height: 100%;
}

#caption {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-between;
	padding: 60px 0 0;
}

#description {
	font-size: 14px;
	padding: 0 0 132px;
	width: 360px;
}

#intro {
	margin: 30px 0 0;
	width: 100%;
}

#details, #services {
	padding-top: 42px;
	width: 100%;
	float: left;
}

#contact {
	margin: 30px 0 0;
}

#credit {
	font-size: 10;
	font-weight: 400;
}

#newsletter {
	margin: 30px 0 36px;
}

#mailchimp {
	clear: left;
	width: 468px;
	margin-left: -36px;
}

#subscribe {
	float: right;
}

.button {
	width: 126px;
	border: 1px solid #3C3C3C;
	padding: 12px 0px 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
	font-weight: 700;
	color: white;
	border: 2px solid white;
}

.button:active {
	color:none;
}

.email {
	text-indent: 36px;
	width: 324px;
	height: 48px;
	border: none;
	font-size: 14px;
	background-color: #FFFFFF;
}

footer {
	color: #CCCCCC;
	text-align: center;
	padding: 72px 0 72px;
}



@media screen and (max-width:414px) {
	body {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		/*background-color: red;*/
	}

	a, body {
		color: white;
	}

	#work {
		position: relative;
		margin: 0;
		width: calc(100% - 12px);
		height: 0px;
    padding-bottom: 66%;
	}

	#work img {
		position: absolute;
	}

	#about, #communicate, #caption {
		width: 80%;
		padding: 10%;
		margin: auto;
	}

	#services, #details, #contact, #newsletter {
		margin-left: 36px;
		width: 65%;
		width: calc(100% - 36px);
	}

	#gradient {
    position: fixed;
    left: 0;
    top: 0px;
		height: 100%;
		width: 100%;
		margin: 0;
	}

	#solid {
		display: none;
	}

	#greeting {
		width: 100%;
		padding: 0;
	}

	#communicate {
		background: none;
	}

	#communicate a {
		color: #FFFFFF;
	}

	#contact {

	}

	#services {
		margin-bottom: 180px;
	}

	#intro {
		margin-bottom: 24px;
	}

	footer {
		color: white;
	}

	#mailchimp {
		width: 100%;
	}

	.email {
		width: 100%;
		margin: auto auto 30px;
		/*background-color: #F6F6F6;*/
		width: calc(100% + 36px);
	}

	#subscribe {
		float: left;
	}

	.button {
		width: 104px;
	}
}
