.loader {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% - 54px);
	margin: 0 auto;
	font-size: 10px;
	text-indent: -9999em;
	border: 12px solid;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation: load8 1.1s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	100% {
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	100% {
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

.loader {
	/*margin-top: -236px;*/
}

#carousel {
	position: relative;
	width: 100%;
}

#carousel li {
	list-style: none;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	list-style: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.imageContainer {
	position: relative;
	height: 0;
	width: 720px;
	padding-top: 66%;
}

#carousel img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.next,
.previous {
	position: absolute;
	bottom: 0;
	width: 50%;
}

.previous {
	cursor: url('/images/cursor-previous.png'), w-resize;
	left: 0;
}

.next {
	cursor: url('/images/cursor-next.png'), e-resize;
	right: 0;
}

.caption {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 432;
	padding: 0 144px 24px;
}

.description {
	font-size: 14px;
	min-height: 80px;
	width: 360px;
	margin-top: -6px;
}

@media screen and (max-width:774px) {
/*
	.imageContainer {
		width: 100%;
	}*/

	/*#carousel img {
		width: 100%;
	}*/

}

@media screen and (max-width:720px) {

	.imageContainer {
		width: 100%;
	}

@media screen and (max-width:504px) {

	.caption {
		width: calc(100% - 36px);
		padding: 10% 18px 10%;
		margin: auto;
		text-align: justify;
	}

	.description{
		margin-top: 12px;
		width: 100%;
	}

}
