.loader {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% - 54px);
	margin: 0 auto;
	font-size: 10px;
	text-indent: -9999em;
	border: 12px solid;
	transform: translateZ(0);
	animation: load8 1.1s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
	opacity: 0;
	border-color: rgba(180, 170, 97, .1);
	border-left-color: rgba(180, 170, 97, 1);
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

@-webkit-keyframes load8 {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(450deg);
	}
}

@keyframes load8 {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(450deg);
	}
}

.loader {

}

#carousel {
	position: relative;
	width: 100%;
	li {
		list-style: none;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		list-style: none;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 0;
	}
}

.imageContainer {
	position: relative;
	height: 0;
	width: 720px;
	padding-top: 66%;
	opacity: 0;
}

.imageContainer img,
.imageContainer video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: initial;
}

.next,
.previous {
	position: absolute;
	bottom: 0;
	width: 50%;
	display: none;
	z-index: 4;
}

.previous {
	cursor: w-resize;
	left: 0;
}

.next {
	cursor: e-resize;
	right: 0;
}

.caption {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 432;
	padding: 0 144px 40px;
}

.count {
	display: inline-block;
	opacity: 0;
}

.description {
	font-size: 14px;
	min-height: 108px;
	width: 360px;
	margin-top: -6px;
}

@media screen and (max-width:774px) {

	.imageContainer {
		width: 100%;
	}

	.caption {
		padding-left: 18px;
		padding-right: 18px;
	}

}


@media screen and (max-width: 468px) {

	.caption {
		width: 360px;
	}

	.description {
		margin-top: 12px;
		width: 100%;
	}

}


@media screen and (max-width: 396px) {

	.caption {
		width: calc(100% - 36px);
	}

	.description {
		// min-height: 108px;
	}

}
